<html>

<head>
{% include 'MainFrame.html'%}
<title>Download Your Linux Here!</title>
<style type="text/css">

#download{color:#ff0000;}


</style>

</head>



<body>
<div align="center">
	<div id="content"><br>
	<h3>Debian:</h3>
		<a href="http://mirrors.aliyun.com/debian-cd/8.6.0/amd64/iso-dvd/debian-8.6.0-amd64-DVD-1.iso">Download(64bit)</a>


	<h3>Fedora:</h3>
		<a href="https://download.fedoraproject.org/pub/fedora/linux/releases/24/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-24-1.2.iso">Download(64bit)</a>
	</div>
</div>

</body>


</html>
